body {
    background-image: url(https://govexec.com/media/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto", system-ui;
    font-style: normal;
}

h1 {
    text-align: center;
}

form {
    text-align: left;
    background-color: rgba(127, 255, 212, 0.3);
    border: 5px outset rgba(127, 255, 212, 0.3);
    border-radius: 5px;
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 20px;
    padding-top: 20px;
    opacity: 95%;
    padding-left: 50px;
}

.in {
    padding-right: 60%;
    border: 1px solid lightgray;
}

.op {
    width: 491px;
    border: 1px solid lightgray;
    
}

.Submit {
    width: 491px;
    background-color: indianred;
}