* { margin: 0; padding: 0; }

body {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

.main {
    display: flex;
    gap: 10px;
    margin: 30% 10% 30% 10%;
    justify-content: space-between;
}

.c-1, .c-2, .c-3 {
    display: grid;
    grid-template-columns: 3, 1fr;
    grid-template-rows: 4, 100px;
    width: 500px;
    height: 200px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
}

.main :hover {
    background-color: rgb(153, 50, 204);
}

img {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

h3 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

p {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

a {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

@media (max-width: 750px) and (min-width: 350px) {
    .main {
        max-width: 750px;
        min-width: 350px;
        display: flex;
        flex-direction: column;
        width: auto;
    }
}