* {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    gap: 10px;
    justify-content: center;
}

body .info {
    padding: 30px;
    min-width: 200px;
}

h2 {
    background-color: black;
    color: white;
    text-align: center;
}

ul {
    list-style: ;
}

article {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.pic {
    width: 728px;
    height: 350px;
}

.types {
    margin: 1% 20% 1% 20%;
}

footer {
    position: sticky;
    bottom: 5px;
    background-color: #6495ED;
    color: white;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    margin: 0 1% 0 1%;
    border-radius: 10px;
}

.fot {
    height: 100px;
    max-height: 100px;
}

footer a {
    text-decoration: none;
    color: black;
    background-color: white;
    margin: 33px 170px 33px 170px;
    border-radius: 10px;
    text-align: center;
    padding-top: 7px;
}

footer .text {
    text-align: center;
    padding-top: 29px;
}

h3 {
    padding-bottom: 10px;
}