* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #999;
}

.main{
    min-width: 1024px;
}

.nav, .projects, .members, .nav-1, .nav-2 ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style-type: none;
}

[aria-controls="menu-list"] {
	display: none;
}

.pro-1, .pro-2, .pro-3, .box-1, .box-2, .box-3, .box-4{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nav-1 img {
    width: 50px;
    border-radius: 50%;
}

.nav {
    justify-content: space-between;
    margin: 4px 4px;
}

.nav-1, .nav-2, .name { align-self: center; }

a { text-decoration: none; }

h1, h2, h3 { color: #6b6b6b; }

.header, .middle { 
    margin: 10px 25%;
    padding: 10px 0; 
}

.projects { justify-content: space-evenly; }

.pro-1, .pro-2, .pro-3 {
    width: 300px;
    height: 400px;
}

.pro-p {
    padding: 10px 20px;
}

.pro-img { max-width: 300px; }

.members {
    justify-content: space-between;
    margin: 0 10% 10% 10%;
}

.m-img {
    width: 200px;
    height: 200px;
}

footer {
    background-color: #282828;
    margin: 0 20px;
    display: grid;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: 4 1fr;
}

footer > div {
    padding: 20px;
}

.socials { 
    grid-column: 1 / 4 ;
    display: flex;
    justify-content: center;
}
.address { 
    grid-column: 1 / 2 ;
    grid-row: 2 / 3 ;
}
.email { 
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.PhoneNumbers { 
    grid-column: 3 / 4;
    grid-row: 2 / 3;
 }
.copyright { 
    grid-column: 1 / 4 ;
    box-shadow: 0 0 5px #6b6b6b;    
    padding-left: 70px;  
}

.socials a {
    display: flex;
    align-self: center;
    align-items: center;
}

a img {
    height: 50px;
}

@media (max-width: 1023px) and (min-width: 768px) {
    .main {
        max-width: 1023px;
        min-width: 768px;
    }
    .main, .projects {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .pro-1, .pro-2, .pro-3, .members {
        display: grid;
        grid-template-columns: repeat(3 1fr);
        grid-template-rows: repeat(3 1fr);
    }

    .pro-1, .pro-2, .pro-3 {
        width: 100%;
        height: 100%;
        gap: 20px;
        margin: 10px;
    }
    
    .pro-img {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }

    h3 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .pro-p {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin: 0 60px;
    }
    
    .members {
        justify-content: space-evenly;
    }

    .box-1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .box-2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .box-3 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    
    .box-4 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    li {
        display: none;
    }

    [aria-controls="menu-list"] {
		display: block;
		margin-bottom: 10px;
	}

	[aria-expanded="true"] ~ ul {
		display: grid;
		max-height: 500px;
	}
   
    [aria-expanded="false"] .close {
		display: none;
	}

	[aria-expanded="true"] .close {
		display: inline-block;
	}

	[aria-expanded="true"] .open {
		display: none;
	}
}

@media (max-width: 767px) and (min-width: 360px) {
    .main {
        max-width: 767px;
        min-width: 360px;
    }
    .members, .projects, .bottom, .socials {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pro-1, .pro-2, .pro-3, .box-1, .box-2, .box-3, .box-4 {
       width: auto;
    }

    .pro-img {
        align-self: center;
    }
    
    li {
        display: none;
    }

    [aria-controls="menu-list"] {
		display: block;
		margin-bottom: 10px;
	}

	[aria-expanded="true"] ~ ul {
		display: grid;
		max-height: 500px;
	}
   
    [aria-expanded="false"] .close {
		display: none;
	}

	[aria-expanded="true"] .close {
		display: inline-block;
	}

	[aria-expanded="true"] .open {
		display: none;
	}

}