body {
    margin: 0;
    padding: 0;
    background-image: url(https://govexec.com/media/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.main {
    display: grid;
}

.head {
    padding-bottom: 20px;
}

.head p {
    margin: 10px 30%;
    padding-bottom: 10px;
}

.head span {
    border: 1px solid rgba(127, 255, 212, 0.3);
    background-color: rgba(127, 255, 212, 0.3);
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 0 5px #00FF00;
}

.b-1 {
    background-color: rgba(127, 255, 212, 0.3);
    margin-bottom: 20px;
    box-shadow: 0 0 5px #00FF00;
}

.boxs {
    margin: 0 30%;
    padding-bottom: 10px;
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "box-1 box-2";
}

.box-1 { grid-area: box-1; }
.box-2 { grid-area: box-2; }

.body {
    display: flex;
    margin: 0 30%;
    gap: 20px;
}

.d-1, .d-2, .d-3 {
    background-color: rgba(127, 255, 212, 0.3);
    border-radius: 10px;
    box-shadow: 0 0 5px #00FF00;
    width: 225px;
    height: 350px;
}

.d-1 p{
 padding: 0 10px 0 10px ;
}

.d-2 p{
    padding: 0 10px 0 10px ;
}

.d-3 p{
    padding: 0 10px 0 10px ;
}

.body img {
    max-width: 225px;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.b-2 {
    background-color: rgba(127, 255, 212, 0.3);
    margin-top: 20px;
    box-shadow: 0 0 5px #00FF00;
}

.b-2 p {
    margin: 10px 30%;
}

.bottom {
    padding: 20px;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "con all";
    margin-bottom: 10px;
}

.con { 
    grid-area: con;
    margin: 0 20%;
}

.all { 
    grid-area: all;
    margin: 0 20%; 
}

footer {
    background-color: rgba(127, 255, 212, 0.3);
    box-shadow: 0 0 5px #00FF00;
    display: grid;
    grid-template-areas: 
    "f-1 f-2";
    padding: 10px;
}

a {
    text-decoration: none;
}

.f-1 { grid-area: f-1; }
.f-2 { grid-area: f-2; }

@media (max-width: 700px) {
    .main {
        display: grid;    
    }

    .boxs {
        display: block;
    }


    .body {
        display: grid;
        margin: auto;
    }

    .d-1, .d-2, .d-3 {
        margin: auto;
        grid-row: auto;
		grid-column: auto;
        width: auto;
    }

    .body img {
        width: 100%;
        max-width: 100%;
        height: 150px;   
    }

    .bottom {
        display: flex;
        flex-direction: column;
    }
}