* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  background-color: white;
  color: black;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about,
.store,
.gmail,
.images,
.app,
.acc {
  padding: 10px;
}

.n-2,
.n-1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
}

.acc,
.app {
  padding-top: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.p-2 {
  padding: 15% 20% 0 38%;
}

img {
  height: 150px;
}

.p-3 {
  padding-top: 10px;
}

.search {
  padding: 10px;
  display: flex;
  border: 1px solid #bfbfbf;
  margin: 0 30%;
  border-radius: 30px;
  justify-content: center;
  background-color: #bfbfbf;
}

.text {
  flex: 2 2 auto;
}

input {
  border: hidden;
  width: 100%;
  height: 100%;
  background-color: #bfbfbf;
}

.p-4 {
  display: flex;
  padding: 6px;
  margin: 0 30% 0 30%;
  justify-content: space-evenly;
}

.gs,
.fl {
  background-color: #bfbfbf;
  padding: 10px;
  border-radius: 5px;
}

.space {
  height: 30%;
  width: 100%;
  padding: 8% 0 9% 0;
}

footer {
  padding: 7px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
